[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm cache clean --force", "rm -rf node_modules/.cache", "npm ci --prefer-offline --no-audit --include=optional"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start:railway"

